@import 'base';

.home {
    height: 95vh;
    background-image: linear-gradient(to right bottom, $red-bg, $orange-bg), url("../src/img/pinetaNonna.jpg");
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 97%);

    &__welcome {
        margin-bottom: 6rem;

        &-container {
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            width: 90%;
            margin-bottom: 6rem;
            color: white;
        }

        &--title {
            font-size: 4rem;
        }

        &--text {
            font-size: 3rem;
        }
    }
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0% 5% 1% 5%;
    border-bottom: 1px solid black;
    z-index: 2;

    &__heading {
        align-self: center;
        font-weight: normal;
    }

    &__heading--main {
        display: block;
        font-size: 3rem;
        letter-spacing: 0.5rem;
        font-weight: 700;
        border-bottom: 2px solid black;
    }

    &__heading--sub {
        display: block;
        font-size: 2.5rem;
        letter-spacing: 2.2rem;
        font-weight: 700;
    }
}

.menu {
    float: left;
    overflow: hidden;
}

.nav-button {
    color: black;
    padding: 0.5rem;
    text-decoration: none;
    &:hover {
        color: white;
        background-color: rgb(61, 61, 61);
        border-radius: 0.5rem;
        box-shadow: 0 1px 6px -2px #000;
    }
}

.nav-content {
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.dropbtn {
    visibility: hidden;
}

.menu:hover .nav-content {
    display: block;
  }

.navbar__heading {
    align-self: left;
    font-weight: normal;
}

.navbar__heading--main {
    display: block;
    font-size: 3rem;
    letter-spacing: 0.5rem;
    font-weight: 700;
    border-bottom: 2px solid black;
}

.navbar__heading--sub {
    display: block;
    font-size: 2.5rem;
    letter-spacing: 2.2rem;
    font-weight: 700;
}

.nav-button {
    color: black;
    padding: 0.5rem;
    text-decoration: none;
}

.nav-button:hover {
    color: white;
    background-color: #3d3d3d;
    border-radius: 0.5rem;
    box-shadow: 0 1px 6px -2px #000;
}