*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.7;
  color: black;
  padding: 2%;
}

html {
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

.button:link, .button:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: gray;
  padding: 1rem 3rem;
  display: inline-block;
  text-align: center;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  background-color: white;
  color: gray;
}
.button:active {
  transform: translateY(-3px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.button.resume_button {
  background-color: green;
  color: white;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.7;
  color: black;
  padding: 2%;
}

html {
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

.button:link, .button:visited {
  text-transform: uppercase;
  text-decoration: none;
  color: gray;
  padding: 1rem 3rem;
  display: inline-block;
  text-align: center;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  background-color: white;
  color: gray;
}
.button:active {
  transform: translateY(-3px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.button.resume_button {
  background-color: green;
  color: white;
}

.home {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(255, 0, 0, 0.281), rgba(202, 166, 66, 0.233)), url("../src/img/pinetaNonna.jpg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 97%);
}
.home__welcome {
  margin-bottom: 6rem;
}
.home__welcome-container {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
  margin-bottom: 6rem;
  color: white;
}
.home__welcome--title {
  font-size: 4rem;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 0% 5% 1% 5%;
  border-bottom: 1px solid black;
  z-index: 2;
}
.navbar__heading {
  align-self: center;
  font-weight: normal;
}
.navbar__heading--main {
  display: block;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  font-weight: 700;
  border-bottom: 2px solid black;
}
.navbar__heading--sub {
  display: block;
  font-size: 2.5rem;
  letter-spacing: 2.2rem;
  font-weight: 700;
}

.menu {
  float: left;
  overflow: hidden;
}

.nav-button {
  color: black;
  padding: 0.5rem;
  text-decoration: none;
}
.nav-button:hover {
  color: white;
  background-color: #3d3d3d;
  border-radius: 0.5rem;
}

.nav-content {
  min-width: 160px;
  z-index: 2;
}

.dropbtn {
  visibility: hidden;
}

.menu:hover .nav-content {
  display: block;
}

.navbar__heading {
  align-self: left;
  font-weight: normal;
}

.navbar__heading--main {
  display: block;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  font-weight: 700;
  border-bottom: 2px solid black;
}

.navbar__heading--sub {
  display: block;
  font-size: 2.5rem;
  letter-spacing: 2.2rem;
  font-weight: 700;
}

.nav-button {
  color: black;
  padding: 0.5rem;
  text-decoration: none;
}

.nav-button:hover {
  color: white;
  background-color: #3d3d3d;
  border-radius: 0.5rem;
  box-shadow: 0 1px 6px -2px #000;
}

/*# sourceMappingURL=index.css.map */
